page-register{
	.cover{
	  background-image: url('../assets/imgs/FRegister.png');
	  background-size: cover;
	  padding: 0;
	}
	.botones{
		display: block;
		margin: 0 auto;
		width: 80%;

	}
	.botReg{
		background: inherit;
		border: 1px solid #f18e00;
		opacity: 0.65;
		margin-top: 10%!important;
	}
	.botRegFace{
		margin-top: 3%!important;
		background: #2f60d5;
	}
	.formularioCard{
		background: inherit;
		-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
		margin-top: 0;
	}
	.inputGeneral{
		color: #495057;
		background: inherit;
		border-bottom:  1px solid #ced4da;
	}
	.item-input-has-focus{
		border-bottom:  2px solid #f18e00!important;
	}
	.span-registro{
		color: #8696f3;
	}
	.enlace-registro{
		font-size: 120%;
		width: 100%;
		display: block;
		margin: 0 auto!important;
		position: absolute;
		bottom: 3%;
	}
	/*Ellos css*/
	.middle {
  min-height: 95%;
  text-align: center;
  height: 100vh;
  padding-top: 29%;
}
img {
  height: 3.5vh;
}

.subtitle {
  color: rgb(167, 167, 167);
  font-weight: bold;
  font-size: 0.95vh;
}
.padding-top {
  padding-top: 0.9vh;
}

.padding-left {
  padding-left: 6%;
}

.margin-bottom {
  margin-bottom: 10%;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

.margin-bottom-xs {
  margin-bottom: 5%;
}

.form-control:focus {
  color: #495057;
  background-color: inherit;
  border-color: #f18e00;
  outline: 0;
  border-width: 0 0 2px;
  box-shadow: 0 0 0 0 rgba(215, 145, 44, 0.4);
}

.form-control {
  outline: 0;
  border-radius: 0;
  background-color: inherit;
  border-width: 0 0 1px;
  letter-spacing: 1px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text {
  color: #858c93;
  text-align: center;
  font-size: 0.9vh;
  letter-spacing: 1px;
  span {
    color: #8696f3;
  }
}

.text-signup {
	margin-top: 5%;
	margin-left: 1%;
  color: #fff;
  text-align: left;
  letter-spacing: 1px;
  top: -28px;
  font-size: 215%;
  p {
    margin-bottom: 3px;
  }
  span {
    // border-width: 0 0 2px;
  }
  .line {
    border-top: 3px solid #f48e1f;
    width: 32px;
    margin-left: 5px;
    border-radius: 5px;
  }
}
.btn.btn-primary {
  background-color: #272727;
  border-color: #f18e00;
}

}