
<ion-header>

  <ion-navbar style="display: none;">
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="cover">

	<div class="row margin-bottom">
      <div class=" col-6 text-signup">
        <p>
          <span>Sign</span> Up</p>
        <div class="line"></div>
      </div>
    </div>

    <ion-card class="formularioCard">

  	<ion-card-content>
  		<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
	    	<ion-item class="inputGeneral">
	    		<ion-input type="text" placeholder="Name" [(ngModel)]="user.name" formControlName="name" id="name"></ion-input>
	  		</ion-item>

	  		<ion-item class="inputGeneral">
	    		<ion-input type="email" placeholder="Email Address" [(ngModel)]="user.email" formControlName="email" id="email"></ion-input>
	  		</ion-item>

	  		<ion-item class="inputGeneral">
	    		<ion-input type="password" placeholder="Password" [(ngModel)]="user.password" formControlName="password" id="password"></ion-input>
	  		</ion-item>

	  		<ion-item class="inputGeneral">
	    		<ion-input type="password" placeholder="Repeat Password" [(ngModel)]="user.rw_pass" formControlName="rw_pass" id="rw_pass"></ion-input>
	  		</ion-item>
	  		<br>
	  		<button ion-button round class="botones botReg" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
		</form>	  
		  <button ion-button round class="botones botRegFace" (click)="signUpFB()">Sign Up With Facebook</button>

		  <p class="enlace-registro">I already have an account.
			  	<span class="span-registro" (click)="irLogin()">Login</span>
			  </p>

  	</ion-card-content>

</ion-card>

</ion-content>
