page-principal {

	.modal-wrapper{
		-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
	}
	
	.cover{
	  background-image: url('../assets/imgs/Fsearch.png');
	  background-size: cover;
	  padding: 0;
	}
	.labelTag{
		color: #2e6da4; 
		margin: 0 auto; 
		display: table;
	}
	 .text-input{
		margin-left: 0px!important;
	}
	.item-input-has-focus{
		border:3px solid #f18e00!important;
		box-shadow: 0 0 0 0.2rem #f18d0075;
	}
	.searchy{
		border-radius: 23px;
		width: 75%;
		display: block;
		margin: 0 auto;
		margin-top:5%;
	}
	.scroll-content{
		padding: 0;
	}
	.spac{
		letter-spacing: 1px;
		text-align: center;
		display: block;
	}

	.cardGeneral{
		margin-top: 50%;
		width:100%;		
		margin-left: 0;
		margin-right: 0;
		background: inherit;
		-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
	}
	.logo {
	  margin: 0 auto;
	  padding-top: 20px;
	  text-align: center;
	  width:45%;
	  display: block;
	}
	.titHeader{
		color: #f18e00;	
		font-size: 200%;
		font-weight: bold;
		text-align: center;
		padding-bottom: 0px;
		letter-spacing: 0.5px;
	}
}
