<!--
  Generated template for the PrincipalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="display: none">
    <ion-title>principal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="cover">
	<!--<button (click)="presentModal()">Mandar modal</button>-->
	<div class="row padding-top-xs">
    	<div class="offset-4">
      		<img class="logo" src="assets/imgs/LogoBalthazar.png" alt="">
    	</div>
  	</div>

	<ion-card class="cardGeneral">
	  <ion-card-header class="titHeader">
	    Ready to do bussiness?
	  </ion-card-header>

	  <ion-card-content>
	  	<span class="spac">Find your next partner</span>
	  	<ion-item class="searchy">
	  		<ion-label> <ion-icon name="search"></ion-icon></ion-label>
	    	<ion-input type="search" class="inputy" placeholder="Search by keyword" (keyup)="onSearch($event);" (input)="checkHash($event)"
          id="value" [(ngModel)]="value" ></ion-input>
	  	</ion-item>
	  	<ion-label *ngIf="warning" class="labelTag" >Press enter after writing your tag</ion-label>	
	  	<!--<button (click)="quitar()">Quitar Modal</button>-->

		
	  </ion-card-content>

	</ion-card>

</ion-content>
