toolbar {
	.general{
		background: #f18e00;
		height:10%;
	}
	.activated{
		background: #f18e00;
	}
	.flecha{
		background: inherit;
		vertical-align: middle;
		margin-top: 3%;
		-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
	}
	.logo {
  		height: 22px;
  		margin-top: 2%;
  		vertical-align: middle;
	}
	.circle {
	  background-color: #fff;
	  width: 37px;
	  height: 37px;
	  color: #6e6f6f;
	  border-radius: 50%;
	  text-align: center;
	  padding-top: 6px;
	  img {
	    height: 36px;
	  }
	}
	.icon-profile {
	  position: absolute;
	  right: 3%;
	}
	.paddingLogo {
	  padding-top: 5px;
	}
	.icon-notification {
	  position: absolute;
	  right: calc(3% + 55px);
	  /*padding:0;*/
	  vertical-align:middle;
	}
}
