<!-- Generated template for the ToolbarComponent component -->
<div class="general">
  <button (click)="goBack()" ion-button icon-start class="flecha">
  	<ion-icon name="ios-arrow-back"></ion-icon>
  </button>
  <button (click)="goBack()" ion-button icon-start class="flecha">
  	<img class="logo" src="assets/imgs/logo-white.png" alt="">
  </button>
  <button ion-button icon-start class="flecha paddingLogo icon-notification">
  	<div class="circle ">
  		<ion-icon name="ios-notifications-outline" style="vertical-align: middle; padding: 0;"></ion-icon>
  	</div>
  </button>
  <button (click)="goProfile()" ion-button icon-start class="flecha icon-profile paddingLogo">
  	<div class="circle ">
  		<img src="assets/imgs/icon_default.png" alt="">
  	</div>
  </button>
</div>
