page-user-detail {
	.scroll-content{
		padding:0!important;
	}
	.llamar{
		border-radius: 23px;
		display: block;
		margin: 0 auto;
		background: #ce7a05;
		width: 100%;
	}
	.hidden-x {
  		overflow: hidden;
	}
	.icon-default {
	  position: absolute;
	  top: 18%;
	  left:30%;
	}
	.bg-black {
	  background-color: #000;
	  height: 39vh;
	  overflow: hidden;
	}
	.cover{
		background-image: url('http://www.arubanetworks.com/wp-content/uploads/1_Al_Zahra_Hospital_View-1.jpg');
	  	background-size: contain;
	  	padding: 0;
	}
	.espacio{
		margin-left:5%;
		margin-right: 5%;
	}


	.my-container {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bg-black {
  background-color: #000;
  height: 39vh;
  overflow: hidden;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}
.line {
  border-top: 1px solid #f48e1f;
  width: 70px;
  border-radius: 5px;
}

.title {
  margin-bottom: 6px;
  font-size: 132%;
  //color: #404259;
  color: #666;
  letter-spacing: 1px;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.item {
  display: inline-flex;

  .item-title {
    font-size: 95%;
    color: #404259;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
  }
  .item-description {
    padding: 0;
  }
}
.item-description {
  padding-left: 2.2rem;
  color: #808080;
  font-size: 100%;
  letter-spacing: 0.5px;
}
.icon-item {
  margin-right: 10px;
  background-color: #f18e00;
  width: 25px;
  height: 25px;
  color: #fff;
  padding-top: 2%;
  border-radius: 50%;
  text-align: center;
  i {
    font-size: 100%;
  }
}

.text {
  color: #f18e00;
}

.center {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.bg {
  background-color: #f18e1f;
}
button {
  a {
    color: #fff;
  }
}

}
