<!--
  Generated template for the UserDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="display: none;">
    <ion-title>user-detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<toolbar></toolbar>
	<div class="row bg-black ">
    <div class="col-12 cover">
      <div class="row hidden-x ">
       <img src="http://www.arubanetworks.com/wp-content/uploads/1_Al_Zahra_Hospital_View-1.jpg" alt="">
        <div class="icon-default offset-4">
          <img src="assets/imgs/icon_default.png" alt="">
        </div>
      </div>
    </div>
  </div>

   <div *ngIf="user?.user_info?.name" class="margin-top margin-bottom col-12 espacio">
        <p class="title">{{user?.user_info.name}}</p>
        <div class="line"></div>
      </div>
      <div *ngIf="user?.user_info?.description" class="col-12 margin-bottom espacio">
        <div class="item">
          <span class="icon-item">
            <i class="fas fa-bullhorn"></i>
          </span>
          <p class="item-title">
            Description</p>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="item-description">{{user?.user_info.description}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="user?.user_info?.address" class="col-12 margin-bottom espacio">
        <div class="item">

          <span class="icon-item">
            <ion-icon name="pin"></ion-icon>
          </span>
          <p class="item-description">
            {{user?.user_info.address}}
          </p>
          <!-- <i class="fab fa-slack-hash"></i>758 Guadalajara -->
        </div>
      </div>
      <div *ngIf="user?.user_info?.phone" class="col-12 margin-bottom espacio">
        <div class="item">
          <span class="icon-item">
            <ion-icon name="call"></ion-icon>
          </span>
          <p class="item-description">
            {{user?.user_info.phone}}
        </div>
      </div>
      <div *ngIf="user?.user_info?.website" class="col-12 espacio">
        <a class="item-description text" href="{{user?.user_info.web}}" target="_blank">{{user?.user_info.web}}</a>
      </div>
      <div *ngIf="user?.user_info.phone" class="container espacio">
       
          <div class="col-12 center margin-top">
          	<button ion-button  class="btn btn-primary connect llamar"><a class="btn btn-primary connect" href="tel:{{user?.user_info.phone}}">Contact now</a></button>
            
          </div>
        
      </div>

</ion-content>
