page-home{
	.cover {
	  background-image: url('../assets/imgs/FLogin.png');
	  background-size: cover;
	}
	.logo{
		width: 20%;
		float: left;
	}
	.card-total{
		height: 80%;
		margin-top: 30%!important;
		background: inherit;
		-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
	}
	.span-registro{
		color: #f18e00
	}
	.botLog{
		background: #f18e00;
		opacity: 0.65;
		margin-top: 10%!important;
	}
	.botLogFace{
		margin-top: 3%!important;
		background: #2f60d5;
	}
	.item-email{
		margin-top: 7%;
	}
	.contenido{
		padding: 0;
		margin: 0;
		background: inherit;
		-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
	}
	.enlace-registro{
		width: 100%;
		display: block;
		margin: 0 auto!important;
		position: absolute;
		bottom: 5%;
	}
	.colLog{
	display: flex;
	align-items: center;
	}
	.log{
		color: #858c93;
		position: absolute;
		font-size: 5vw;
		margin-left: 50%;
		margin-top: 5%;
	}
	.medio{
		padding: 0;
	}

	.botones{
		display: block;
		margin: 0 auto;
		width: 80%;

	}

	.scroll-content{
		justify-content: center;
		display: flex!important;
	 	align-items: center!important;
	}
}