<ion-header>
  <ion-navbar style="display: none;">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="cover">

  <ion-card class="card-total">
	  <ion-card-header class="medio">
		<img src="assets/imgs/logoLogin.png" class="logo">
		<span class="log">Login</span>

	  </ion-card-header>
	  <ion-card-content class="contenido">
	    
	  	<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
		  <ion-item class="item-email">
		    <ion-input type="email" placeholder="Email Address" [(ngModel)]="user.email" formControlName="email" id="email"></ion-input>
		  </ion-item>
		  <ion-item>
		    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password" formControlName="password" id="password"></ion-input>
		  </ion-item>
		  <button ion-button round class="botones botLog" type="submit" [disabled]="!signupForm.valid">Login</button>
		</form>
		  <button ion-button round class="botones botLogFace" (click)="loginFB()">Login with Facebook</button>
		  <br>
		 
			  <p class="enlace-registro">Still doesn't have an account?
			  	<span class="span-registro" (click)="irRegister()">Register here</span>
			  </p>
	
	  </ion-card-content>
  </ion-card>
</ion-content>
