page-prefer {

	body > ion-app > ion-modal > div{
		-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
	}
		
	
	.scroll-content{
		padding: 0!important;
		
	}
	.iconoDel{
		color: red;
	}
	.labelTag{
		color: #2e6da4; 
		margin: 0 auto; 
		display: table;
	}
	.acordion{
		border-bottom: 0.30px solid #f2f2f2;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.btnIcon{
		font-size: 115%;
	}
	.icons{
		color:#f18e1f;
	}
	.itemCabecera{
		background: #fff; 
		color:#000; 
		border:0!important;
	}
	.inputt{
		font-size: 85%;
		border-bottom: 1px solid grey;
	}
	.botones{
		width: 50%;
		display: block;
		margin: 0 auto;
		background: #f18e00;
		margin-top: 10px;

	}
	.general{
		display: block;
		background: inherit;
		padding:0;
		vertical-align: middle;	
		height: 100%;
	}
	.cardGeneral{
		margin-top: 30%;
		width:100%;		
		margin-left: 0;
		margin-right: 0;
	}
	.titHeader{
		font-size:136%;
		color:#fff;
		background:#f18e00;
	}
	.icono{
		color:#fff;
		float:right;
	}

	.md .modal-wrapper{
		-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;
	}
}
