<!--
  Generated template for the PreferPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="display: none">
    <ion-title>prefer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="general">
	<ion-card class="cardGeneral" style="-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
		box-shadow:0 0px 0px rgba(0, 0, 0, 0)!important;">
	  <ion-card-header class="titHeader">
	    Welcome {{user?.user_info.name}}, to start...
	    <ion-icon name="arrow-down" class="icono" (click)="quitar()"></ion-icon>
	  </ion-card-header>

	  <ion-card-content>
	  	<span>Please complete your user form</span>
	  	<!--<button (click)="quitar()">Quitar Modal</button>-->
	  	<!--Primer acordeon-->
	  	<ion-card>
		  <ion-card-header (click)="toggleAccordion()" class="acordion" >
		    <ion-list>
		      <ion-item class="itemCabecera">
		        <button ion-button clear small icon-only item-left class="btnIcon"> 
		          <ion-icon name="help-circle" class="icons"></ion-icon>
		        </button>
		        What do you needs
		      </ion-item>
		    </ion-list>
		  </ion-card-header>
		  <ion-card-content #cc>
		  	<ion-item>
			    <ion-input type="text" (keyup)="saveNeed($event);" (input)="checkNeed($event)" placeholder="Enter 3 keywords that explain your work" class="inputt" id="need" [(ngModel)]="need"></ion-input>
			 </ion-item>
			 <ion-label *ngIf="warningNeed" class="labelTag" >Press enter after writing your tag</ion-label>
				 <ion-chip [style.background-color]="item.color" *ngFor="let item of needs; index as i">
				  	<ion-label>{{item.item}}</ion-label>
				  	<span (click)="remove(needs,i)">
                  		<ion-icon name="md-close-circle" aria-label="close circle" class="iconoDel" ></ion-icon>
                	</span>
				</ion-chip>
			 <button ion-button round class="botones" [disabled]="!blockNeed" (click)="addNeeds()">Save</button>
		    <ng-content></ng-content>
		  </ion-card-content>
		</ion-card>

		<!--Segundo acordeon-->
		<ion-card>
		  <ion-card-header (click)="toggleAccordion2()" class="acordion" >
		    <ion-list>
		      <ion-item class="itemCabecera">
		        <button ion-button clear small icon-only item-left class="btnIcon"> 
		          <ion-icon name="help-circle" class="icons"></ion-icon>
		        </button>
		        What do you offers
		      </ion-item>
		    </ion-list>
		  </ion-card-header>
		  <ion-card-content #cd>
		  	<ion-item>
			    <ion-input type="text" placeholder="Enter 3 keywords that explain your work" class="inputt" (keyup)="saveOffer($event)" (input)="checkOffer($event)" id="offer" [(ngModel)]="offer"></ion-input>
			 </ion-item>
			 <ion-label *ngIf="warningOffer" class="labelTag" >Press enter after writing your tag</ion-label>
				 <ion-chip [style.background-color]="item.color" *ngFor="let item of offers; index as i">
				  	<ion-label>{{item.item}}</ion-label>
				  	<span (click)="remove(offers,i)">
                  		<ion-icon name="md-close-circle" aria-label="close circle" class="iconoDel" ></ion-icon>
                	</span>
				</ion-chip>
			 <button ion-button round class="botones" [disabled]="!blockOffer" (click)="addOffers()">Save</button>
		    <ng-content></ng-content>
		  </ion-card-content>
		</ion-card>
	  </ion-card-content>

	</ion-card>
	

</ion-content>
