<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display: none;">

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<toolbar></toolbar>
	<div class="divSearch">
		<ion-item class="searchy">
		  	<ion-label> <ion-icon name="search"></ion-icon></ion-label>
		 	<ion-input type="search" class="inputy" placeholder="Search by keyword" (keyup)="onSearch($event);" (input)="checkHash($event)"
          [(ngModel)]="searchBox"></ion-input>
		</ion-item>
	</div>

	<ion-list class="listas">

          <ion-chip [style.background-color]="item.color" *ngFor="let item of items; index as i">
				  	<ion-label>{{item.item}}</ion-label>
				  	<span (click)="remove(items,i,item.name)">
                  		<ion-icon name="md-close-circle" aria-label="close circle" class="iconoDel" ></ion-icon>
                	</span>
				</ion-chip>
	</ion-list>

	<ion-list class="listas">
		<ion-item (click)="goUserDetail(item)" *ngFor="let item of users | search: search">
			<!--<div  *ngIf="item.id !== identity" class="section row" style="display: flex">
	          <div class="no-padding col-5 background-picture">
	            <img class="img-responsive" src="assets/imgs/bg_default.png" alt="">
	          </div>
	          <div class="information col-7">
	            <p class="title">{{item.user_info.name}}</p>
	            <div class="line margin-bottom-xs"></div>
	            <p *ngIf="item.user_info.address" class="data margin-bottom-xs">
	              <i class="fas fa-map-marker-alt"></i>
	              <span>{{ (item?.user_info?.address?.length>20)? (item.user_info.address | slice:0:20)+'...':(item.user_info.address)}}</span>
	            </p>
	            <p *ngIf="item.user_info.phone" class="data">
	              <i class="fas fa-phone"></i>
	              <span>{{item.user_info.phone}}</span>
	            </p>
	            <p class="distance">{{item.user_info.distance}}</p>
	          </div>
        </div>-->
		    <ion-thumbnail item-start>
		      <img src="assets/imgs/bg_default.png">
		    </ion-thumbnail>
		    <h2>{{item.user_info.name}}</h2>
		    <p *ngIf="item.user_info.address">
		    	<span>{{ (item?.user_info?.address?.length>20)? (item.user_info.address | slice:0:20)+'...':(item.user_info.address)}}</span>
		   	</p>
		   	<p *ngIf="item.user_info.phone" class="data">
              <ion-icon name="call"></ion-icon>
              <span>{{item.user_info.phone}}</span>
            </p>
            <p class="distance">{{item.user_info.distance}}</p>
   
	   </ion-item>
	</ion-list>
</ion-content>
