page-search {
	.iconoDel{
		color: red;
	}
	.listas{
		margin: 0!important;
	}
	.background-picture {
	  overflow-x: hidden;
	  border-radius: 5px;
	  height: 100%;
	  margin: 0.2rem 0rem;
	}
	.scroll-content{
		padding:0!important;
	}
	.logo {
  		height: 22px;
  		vertical-align: middle;
	}
	.inputy{

	}
	.searchy{
		border-radius: 23px;
		width: 75%;
		display: block;
		margin: 0 auto;
		margin-top:5%;
	}
	.item-input-has-focus{
		border:3px solid #f18e00!important;
		box-shadow: 0 0 0 0.2rem #f18d0075;
	}
	.text-input{
		margin-left: 0px!important;
	}
	.divSearch{
		background: #f18e00;
		height: 10%;
		vertical-align: middle;
		display: block;
		margin: 0 auto;
		margin-top: -6%;

	}
}
